* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

.container {
  background: linear-gradient(53deg, rgb(0, 139, 190) 50%, #009ebd 0);
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;

  .app-wrapper {
    background-color: #fff;
    min-width: 45rem;
    min-height: 60rem;
    height: auto;
    padding: 3rem;
    box-sizing: border-box;
    border-radius: 0.4rem;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    margin: 6rem 2rem;

    .main {
      display: flex;
      flex-direction: column;
      margin-bottom: 5rem;
      width: 100%;

      .header h1 {
        color: #202124;
        text-align: center;
        margin: 5rem 2rem;
        font-size: 3.6rem;
      }

      .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
      }

      .list {
        width: 90%;
        margin: auto;
        max-height: 300px;
        overflow: hidden;
        overflow-y: auto;
      }

      ::-webkit-scrollbar {
        width: 10px;
      }

      ::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #aaa;
      }

      ::-webkit-scrollbar-thumb {
        background: #444;
        border-radius: 10px;
      }

      .item-input {
        width: 90%;
        padding: 1.5rem 1rem 1rem 2rem;
        font-size: 1.6rem;
        color: #202124;
        background-color: #fff;
        border: 1px solid #444;
        outline: none;
        border-radius: 0.4rem;
      }

      .buttons {
        display: flex;
        margin-top: 2rem;
      }

      .btn {
        margin: 1rem;
        padding: 1rem 1.2rem;

        &:hover {
          opacity: 0.8;
        }
      }

      .add-item-btn {
        background-color: #008bbe;
        color: #fff;
        border: none;
        font-size: 1.4rem;
        border-radius: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        outline: none;
        cursor: pointer;
      }

      .list-item {
        display: flex;
        justify-content: space-between;
        margin: 2rem 0;
        padding-bottom: 0.5rem;
      }

      .list-item span {
        color: #202124;
      }

      .item-btn {
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
      }

      .btn-delete i {
        font-size: 16px;
        color: #202124;
        margin-right: 20px;
        opacity: 0.5;
      }

      .btn-delete i:hover,
      .btn-edit i:hover {
        opacity: 1;
      }

      .btn-edit i {
        font-size: 16px;
        color: #202124;
        margin-right: 20px;
        opacity: 0.5;
      }

      .clear-btn {
        background-color: #008bbe;
        color: #fff;
        border: none;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        border-radius: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        outline: none;
        cursor: pointer;
      }

      .no-items {
        color: #777;
        text-align: center;
        font-size: 18px;
        margin-top: 20px;
      }
    }

    @media only screen and (max-width: 500px) {
      min-width: 90%;
    }
  }
}
